/* html {
  box-sizing: border-box
}

/* The Universal Selector */
/* asterisk = All elements */
/* All ::before pseudo-elements */
/* All ::after pseudo-elements */
/* height & width will now include border & padding by default
but can be over-ridden as needed */
/* 
/ *, 
/ *::before,
/ *::after { 
  box-sizing: inherit;
} */

/* resets font size to be 62.5% of the user preference - 
     in most browser configurations this will be 10px */
/* :root {
  font-size: 62.5%;
} */

nav {
  border: #FFFAE3;
  border-style: dotted;
  display: flex;
}

body {
  background-color: darkgoldenrod;
  /* Use a system font, if none are available use an available sans-sarif font */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 18px;
  text-align: center;
}

/* menu & restart buttons don't have individual styling yet - below is placeholder default button styling */
button {
  margin: 5px;
  border-radius: 5px;
  color: black;
  background-color: lightgoldenrodyellow;
  font-size: 12px;
  padding: 5px 10px;
  letter-spacing: 1px;
  font-weight: bold;
}

button:hover {
  color: #FFFAE3;
  background-color: darkgoldenrod;
  cursor: pointer;
}

/* Default button styling above ^ */

.flex-img-prompt-parent {
  background-color: goldenrod;
  display: flex;
  flex-direction: column;
  height: 500px;
  width: 1000px;
  justify-content: space-around;
  align-items: center;
  margin: 10px;
  padding: 10px;
  border-style: inset;
  border-color: black;
}

.flex-option-parent {
  background-color: goldenrod;
  display: flex;
  /* flex-direction: column; */
  height: 125px;
  width: 1000px;
  justify-content: space-around;
  align-items: center;
  margin: 10px;
  padding: 10px;
  border-style: inset;
  border-color: black;
}

.flex-ip-child {
  background-color: lightgoldenrodyellow;
  color: darkslategrey;
  text-align: center;
  font-family: sans-serif;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  padding: 10px;
  border-style: dotted;
  border-color: darkgoldenrod;
}

.flex-ip-child#image {
  background-color: rgba(255, 255, 224, 0.5);
  color: black;
  height: 325px;
  width: 950px;
}

.flex-ip-child#prompt {
  height: 75px;
  width: 950px;
  font-size: 15px;
}

.flex-option-child {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-style: dotted;
  border-color: lightgoldenrodyellow;
  background-color: darkgoldenrod;
  margin: 5px;
  width: 500px;
}

.option-btn {  
  margin: 5px;
  border-radius: 5px;
  color: black;
  background-color: pink;
  font-size: 15px;
  padding: 8px;
  font-weight: 500;
}

.option-btn#option2 {
 background-color: lightseagreen;
}

@media only screen and (max-width: 1024px) {
  .flex-img-prompt-parent {
    /* flex-direction: column; 
    add sizing scaling */
    background-color: darkgoldenrod;
    
  }
  .flex-option-parent {
    /* height: 175px; */
    /* add sizing scaling */
    /* flex-direction: column; */
    background-color: darkgoldenrod;
    padding: 5px;
    justify-content: space-around;
  }
  .flex-ip-child#image {
    background-color: goldenrod;
    border-style: dotted;
    border-color: lightgoldenrodyellow;
    /* height: 750px; */
    /* width: 1350px; */
  }
  .flex-ip-child#prompt {
    background-color: rgb(251, 224, 153);
    color: black;
    border-style: dotted;
    border-color: goldenrod;
    /* height: 100px; */
    /* width: 1350px; */
  }
  .flex-option-child {
    border-style: dotted;
    border-color: lightgoldenrodyellow;
    background-color: goldenrod;
    display: flex;
  }
  .option-btn {
    background-color: lightgreen;
  }
  body {
    background-color: goldenrod;
  }
}